.btn {
  margin-left: 25px;
  padding: 10px 100px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-image: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}
