.wrapper {
  padding: 15px;
  display: flex;
}

.inner {
  margin-left: 15px;
}

.overview {
  max-width: 400px;
}

.btn {
  margin-left: 25px;
  padding: 10px 100px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-image: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}

.linkWrapper {
  margin-top: 20px;
  max-width: 280px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 20px;
  width: 80px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  background-image: repeating-radial-gradient(
    circle,
    pink,
    pink 10px,
    #ffffff 10px,
    #ffc4f7 20px
  );
}

.activeLink {
  composes: Link;
  font-size: 18px;
  color: #02126f;
}
