.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  color: inherit;
  text-decoration: none;
}

.descr {
  text-align: center;
  max-width: 240px;
}
