.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner {
  text-align: center;
  max-width: 240px;
}
